/* custom css file, overwrote the standard create-react-app css file */

:root {
    --primary: rgb(32,85,107);
    --primary-color-transp: rgba(32,85,107,0.9);
    --secondary: rgb(195,193,186);
    --tertiary: rgb(178,199,198);
    --tertiary-opaque: rgba(178,199,198, 0.25);
    --light: #ffffff;
    --dark: #000000;
    --border-radius: 4px;
    --spacing-one: calc(1rem * 0.25);
    --spacing-two: calc(1rem * 0.5);
    --spacing-three: 1rem;
    --spacing-four: calc(1rem * 1.5);
    --spacing-five: calc(1rem * 3);
    --heading-font: 'Josefin Sans', sans-serif;
    --heading-font-weight: 600;
    --paragraph-font: 'Josefin Sans', sans-serif;
    --light-font: 'Josefin Sans', sans-serif;
    --light-font-weight: 300;
  }

html,
body,
.portfolio-container {
    height: 100%;
    min-height: 100%;
}

.test {
    color: red;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    color: var(--dark);
    background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  margin: 5px 0;
  line-height: 1.25;
  color: var(--primary);
}

h1 {
  font-size: 2.25rem;
  color: var(--light);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

footer {
  font-family: var(--light-font);
  font-weight: var(--light-font-weight)
}

a {
    color: var(--primary);
    text-decoration: none;
}

nav {
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    background-color: var(--primary);
}

.nav a {
    padding: 10px 20px 5px 20px;
    margin: 0 15px;
    transition: all 0.2s;
    background-color: var(--secondary);
    color: var(--light);
    border-radius: var(--border-radius);
}

.nav a:hover {
    color: var(--light);
    background-color: var(--secondary);
    border-radius: var(--border-radius);
}

.hero {
    background-image: url('./assets/images/headshot/funshot_medium.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 300px 50px 200px 200px;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
    height: 80vh;
}

.hero-cycling-bg-img {
    background-image: url('./assets/images/headshot/colleen-maher_cycling.jpg');
}

.hero h2 {
    font-family: var(--heading-font);
    font-weight: 1000;
    margin: 5px 0;
    line-height: 1.25;
    font-size: 2.25rem;
    color: var(--light);
    text-shadow: 5px 5px 10px var(--primary-color-transp);
}

.hero h2 span {
    background-color: var(--primary);
    font-weight: lighter;
    border-radius: var(--border-radius);
    padding: 4px 2px 0 2px;
}

.text-color-primary {
    color: var(--primary);
}

.text-color-light {
    color: var(--light);
}

.bg-color-primary {
    background-color: var(--primary);
}

.bg-color-secondary {
    background-color: var(--secondary);
}

.bg-color-tertiary {
    background-color: var(--tertiary);
}

.bg-color-tertiary-opaque {
    background-color: var(--tertiary-opaque)
}

.padding-standard {
    padding: 5px;
}

.padding-left-header {
    padding: 0 0 0 30px;
    background-color: var(--primary);
}

.padding-leftright {
    padding: 0 25px;
}

.padding-top-20px {
    padding: 20px 0 0 0;
}

.padding-topbottom-20px {
    padding: 20px 0 20px 0;
}

.padding-top-0 {
    padding-top: 0;
    margin-top: -7px;
}

.font-size-p {
    font-size: 1.1rem;
}

.light-font-weight {
    font-weight: var(--light-font-weight);
}

.resume-btn {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    color: var(--light);
    padding: 5px 15px;
}

.resume-btn:hover {
    background-color: var(--secondary);
}

#contact-form {
    width: 75%;
}

#contact-form button {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    color: var(--light);
    padding: 5px 50px;
    margin-bottom: 50px;
}

#contact-form button:hover {
    background-color: var(--secondary);
}

.card {
    margin: 15px 25px;
    background-color: var(--tertiary-opaque);
}

.card-link {
    background-color: var(--light);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 4px;
}

.card-body a:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.social-icon img:hover {
    background-color: var(--secondary);
    border-radius: 50px;
}

.about {
    padding: 40px 0;
    font-size: 2ren;
}

.font-size-1halfrem {
    font-size: 1.45rem;
}